<div class="header">
  <a href="/home"><img class="logo" src="assets/logo.png"/></a>
  <div class="navbar" id="navbar">
    <a href="/home">Accueil</a>
    <a href="/signing">Signatures</a>
    <a>Présences</a>
    <a href="javascript:void(0);" class="icon" >
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <nav class="nav">
    <a href="/home" class="link link1"> <i class="fa fa-home"></i></a>
    <a href="#css" class="link link2">
      <i class="fa fa-users"></i>
    </a>
    <a href="/signing" class="link link3">
      <i class="fa fa-signature"></i>
    </a>
  </nav>
</div>
